<div class="vFlex">

    <form class="vFlex" [formGroup]="registerForm" (ngSubmit)="register()">

        <p style="color:rgb(255,0,0)" *ngIf="errorMessage.replaceAll(' ','').length>0">{{errorMessage}}</p>
        
        <input type="text" placeholder="Pseudo" formControlName="pseudo">
        <app-form-error [control]="registerForm.get('pseudo')"></app-form-error>

        <input type="text" placeholder="Email" formControlName="email">
        <app-form-error [control]="registerForm.get('email')"></app-form-error>

        <input type="password" placeholder="Mot de passe" formControlName="password">
        <app-form-error [control]="registerForm.get('password')"></app-form-error>

        <input type="password" placeholder="Confirmer le mot de passe" formControlName="confirmPassword">
        <app-form-error [control]="registerForm.get('confirmPassword')"></app-form-error>
        
        <input type="text" placeholder="Prénom" formControlName="firstName">
        <app-form-error [control]="registerForm.get('firstName')"></app-form-error>

        <input type="text" placeholder="Nom" formControlName="lastName">
        <app-form-error [control]="registerForm.get('lastName')"></app-form-error>

        <button type="submit">Créer mon compte</button>
    </form>
    <a routerLink="/login">Déjà un compte ? Connectez-vous ici</a>
</div>