div{
    display:flex;
    justify-content: space-between;

    background-color: white;

    img{
        max-height: 70px;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li{
            margin-left: 20px;
        }
    }

    
    a{
        color: rgb(175, 175, 240);
    }
}
