<div>
    <img src="../../../assets/images/clavent.svg" height="100px">
    <ul>
        <li>
            <a routerLink="">Accueil</a>
        </li>
        <li>
            <a routerLink="/event">Les évènements</a>
        </li>
        <li>
            <a *ngIf="user" routerLink="/event/myEvents">Mes évènements</a>
        </li>
        <li>
            <p  *ngIf="user">Bonjour {{user.firstname}}</p>
        </li>
        <li>
            <button *ngIf="!user" routerLink="/login">Se connecter</button>
        </li>
        <li>
            <button *ngIf="user" (click)="disconnection()">Me déconnecter</button>
        </li>
    </ul>

</div>
