/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background-color: rgb(240,240,255);
        color: rgb(15,15,0);
    }
    h1,h2,h3 {
        @apply text-2xl  uppercase mb-2;
        color: rgb(200,200,0);
    }
    a{
        color: rgb(250, 150, 0);
    }
    .encart{
        @apply  rounded-md m-1 p-3;
        background-color: rgb(220,220,240);
    }

    .hFlex{
        display: flex;
    }
    .vFlex{
        display: flex;
        flex-direction: column;
    }

    //formulaire
    input[type=text]{
        @apply rounded-lg;
        background-color: rgb(250,250,255);
        width: 350px;
    }
}
@layer components {
    
    button,
    input[type=submit],
    button[type=submit]{
        @apply bg-slate-700 text-slate-200 border border-slate-800 rounded-md p-2 m-1
        hover:bg-slate-500 text-slate-400 border border-slate-800 rounded-md p-2 m-1; 

        
        &[disabled]{
            @apply bg-slate-100 text-slate-900;
        }

        
    }
}
@layer utilities {
}
