<div class="hFlex">
    <section class="vFlex" style="width:50%">
        <div style="margin:auto">
            <h1>Bienvenue !</h1>
            <p>Tu cherches à <b>échanger</b> avec des développeurs-euses ?</p>
            <p>Tu es à la recherche d'un <b>emploi</b> dans le développement Web en Belgique ?</p>
            <p>Tu recherches une <b>conférence</b> ou une <b>firmation</b> autour d'un sujet particulier ?</p>
            <p>Tu recherches un <b>Hackathon</b> ou un nouveau <b>challenge</b> ?</p>
            <br>
            <p>DevEnt est le site idéal pour faire sortir les geeks de leur grottes.</p>
        </div>
        <div class="hFlex">
            <div class="encart">
                <h2>Les évènements</h2>
                <p>Découvrez tous les évènements qui auront lieu prochainement et inscrivez-vous !</p>
                <button>Voir tous les évènements</button>
            </div>
            <div class="encart">
                <h2>Gestion des évènements</h2>
                <p>Vous souhaitez créer un évènement, gérer vos évènements et vos participations ?</p>
                <button>Gérer mes évènements</button>
            </div>
        </div>
    </section>
    <img style="width:50%" src="../../assets/images/clavent.svg">
</div>
